body {
    background-color: #252525;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
}

#content {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.seccionportada {
    background-color: #3036e1;
    text-align: left;
    border-radius: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    width: fit-content;
    margin-left: 25px;
    margin-right: auto;
}
.tituloprincipal {
    font-size: 28px;
    text-align: auto;
    margin-bottom: auto;
}

.plainlinks {
    font-size: 17px;
    line-height: 1.4;
    text-align: center; /* Alineamos el texto al centro */
}

.plainlinks p {
    text-align: left; /* Alineamos el texto del párrafo a la izquierda */
}

.plainlinks a {
    color: #FFCA2B;
    text-align: left;
}

.item-contenidos {
    background-color: aqua;
    border-radius: 15px;
    margin: 0px;
    padding: 0px;
}

/* Estilos para el diseño de columnas */
.columna-izquierda {
    float: left;
    width: 30%;
    margin-top: -80px;
    /* Ajusta el ancho según sea necesario */
}

.columna-derecha {
    float: left;
    width: 70%;
    /* Ajusta el ancho según sea necesario */
}

/* Estilos para el contenido */
.contenedor {
    margin: 20px;
    /* Margen alrededor del contenido */
}

header {
    background-color: #252525;
    /* Color de fondo */
    /* padding: 30px; */
    text-align: center;
}

header img {
    /* max-width: 50%; */
    /* Ajusta el tamaño máximo de la imagen */
    width: 60%;
    height: 200px;
}

.formulario {

    float: left;
    width: 60%;
    /* Reduce el ancho para hacerlos más pequeños */
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 205px;
    /* Añade margen entre los formularios */
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="submit"] {
    width: calc(100% - 22px);
    /* Ajusta el ancho para compensar el padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario input[type="submit"] {
    background-color: #3036e1;
    color: #ffffff;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-right: 10px;

}

.menu a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    color: #FF0000;
    text-shadow: 1px 1px 0px rgb(14, 67, 210), -1px -1px 0px rgb(13, 6, 109), 1px -1px 0px rgb(25, 14, 120), -1px 1px 0px rgb(18, 25, 118);
    border-radius: 65px;
    transition: background-color 0.3s ease;
    background-size: cover;
    /* Ajusta el tamaño de la imagen al tamaño del elemento */
    background-position: center;
    /* Centra la imagen */
    display: inline-block;
    width: 150px;
    /* Establece el ancho deseado */
    height: 100px;
    /* Establece la altura deseada */
}

.menu a:hover {
    background-size: cover;
    background-position: center;
    color:transparent;
}